/**
	COLORS
 */

$color-orange: #ffcc33;
$color-white-dark: #dadcdb;
$body-color: #252525;
$body-bg: #fff;



$font-family-base: 'Open Sans', sans-serif;
$font-size-base: 1rem;
$font-weight-base: 400;
$line-height-base: 1.2;

$headings-margin-bottom: .5rem;
$paragraph-margin-bottom: 1rem;


$dt-font-weight: 400;

$link-color: #252525;
$link-decoration: none;
$link-hover-color: white;
$link-hover-decoration: none;



$global-primary-background: $color-orange;
$global-border: $color-orange;