/**
	COLORS
 */

$color-orange: #ffcc33;
$color-white-dark: #dadcdb;
$body-color: #252525;
$body-bg: #fff;
$color-orange-muted: #ffecb3;


$font-family-base: 'Open Sans', sans-serif;
$font-size-base: 1rem;
$font-weight-base: 400;
$line-height-base: 1.2;

$headings-margin-bottom: .5rem;
$paragraph-margin-bottom: 1rem;


$dt-font-weight: 400;

$link-color: #252525;
$link-decoration: none;
$link-hover-color: white;
$link-hover-decoration: none;

$global-primary-background: $color-orange;
$global-border: $color-orange;
$global-font-family: 'Open Sans',-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;

$global-font-size: $font-size-base;
$global-line-height: $line-height-base;
$global-link-color: $body-color;
$global-link-hover-color: $color-white-dark;
$button-link-hover-text-decoration: none;
$base-link-hover-text-decoration: none;

$global-emphasis-color: $body-color;
$global-inverse-color:  $body-color;
$global-primary-background: $color-orange;

$button-disabled-background: $color-orange-muted;
$button-disabled-border: darken($color-orange-muted, 20%);

/*
//$button-disabled-color: $global-muted-color !default;
//$global-muted-background: $color-orange-muted;
//$global-muted-color: $color-orange-muted;

$button-default-background:                      $global-muted-background !default;
$button-default-color:                           $global-emphasis-color !default;
$button-default-hover-background:                darken($button-default-background, 5%) !default;
$button-default-hover-color:                     $global-emphasis-color !default;
$button-default-active-background:               darken($button-default-background, 10%) !default;
$button-default-active-color:                    $global-emphasis-color !default;

$button-primary-background:                      $global-primary-background !default;
$button-primary-color:                           $global-inverse-color !default;
$button-primary-hover-background:                darken($button-primary-background, 5%) !default;
$button-primary-hover-color:                     $global-inverse-color !default;
$button-primary-active-background:               darken($button-primary-background, 10%) !default;
$button-primary-active-color:                    $global-inverse-color !default;

$button-disabled-background:                     $global-muted-background !default;
$button-disabled-color:                          $global-muted-color !default;
*/
